<!-- applicationContext.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define a bean manually -->
    <bean id="userConfigBean" class="com.myspring.app.bean.UserConfig">
        <property name="name" value="John Doe"/>
        <property name="className" value="ExampleClass"/>
    </bean>
</beans>
